# Crontab configuration

# Run crawl tasks daily at 1:00 AM
0 1 * * * /Users/phucnm/miniconda3/bin/python /Users/phucnm/git/misc/fimarin/s01_crawl_thoibaonganhang.py
5 1 * * * /Users/phucnm/miniconda3/bin/python /Users/phucnm/git/misc/fimarin/s01_crawl_thitruongtaichinhtiente.py

# Run classify task daily at 2:00 AM
0 2 * * * /Users/phucnm/miniconda3/bin/python /Users/phucnm/git/misc/fimarin/s02_classify_article.py

# Run newsletter generation task weekly on Sundays at 3:00 AM
0 3 * * 0 /Users/phucnm/miniconda3/bin/python /Users/phucnm/git/misc/fimarin/s03_generate_weekly_newsletter.py